
<form [formGroup]="CreateForm" (submit)="submitForm()" errorTailor>
    <div class="m-6" >

        <div class="relative z-0 w-full group">
            <label for="course" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Course</label>
            <br><section>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select formControlName="course" [controlErrorsTpl]="course" required>
                        <mat-option *ngFor="let course of courses" [value]="course.c_id">
                            {{ course.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
        </div>

        <div class="relative z-0 w-full group">
            <label for="student" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Student</label>
            <br><section>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select formControlName="student" [controlErrorsTpl]="student" required>
                        <mat-option *ngFor="let student of students" [value]="student.s_id">
                            {{ student.first_name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
        </div>


    <div class="relative z-0 mb-6 w-full group">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          Delete
        </button>
        <button (click)="cancel()" type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">
          Cancel
        </button>
    </div>

    </div>
</form>

<ng-template #course #student let-error let-text="text">
    <div *ngIf="error?.minlength">
      <i class="text-red-600">The field needs {{error.requiredLength}} characters</i>
    </div>
    <div *ngIf="error?.required">
      <i class="text-red-600">This field is required</i>
    </div>
</ng-template>
